/*******************
icons path
*******************/
@font-face {
    font-family: 'icomoon';
    src:url("../fonts/icomoon.ttf") format("truetype");
}
@font-face {
    font-family: 'simple-line-icons';
    src: url('../fonts/Simple-Line-Icons.ttf') format('truetype');
}

@font-face {
    font-family: 'themify';
    src:url('../fonts/themify.ttf') format('truetype'),
} 
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Material Design Icons';
    src: url('../fonts/materialdesignicons-webfont.ttf') format('truetype');
}