.reset-padding{
    padding: .5rem 0rem;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.modal-overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
}

.modal-container {
    justify-content: center;
    align-items: center;
    position: relative;
}